@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 100% 94%;
    --foreground: 14 14% 12%;

    --card: 43 100% 94%;
    --card-foreground: 14 14% 12%;

    --popover: 0 0% 100%;
    --popover-foreground: 14 14% 12%;

    --primary: 31 44% 50%;
    --primary-foreground: 43 100% 94%;

    --secondary: 20 80% 91%;
    --secondary-foreground: 14 14% 12%;

    --muted: 20 80% 91%;
    --muted-foreground: 35 47% 54%;

    --accent: 38 65% 72%;
    --accent-foreground: 14 14% 12%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 43 100% 94%;

    --border: 20 80% 91%;
    --input: 20 80% 91%;
    --ring: 31 44% 50%;

    --radius: 0.625rem;
  }

  .dark {
    --background: 14 14% 12%;
    --foreground: 43 100% 94%;
    --card: 14 14% 12%;
    --card-foreground: 43 100% 94%;
    --popover: 14 14% 12%;
    --popover-foreground: 43 100% 94%;
    --primary: 38 65% 72%;
    --primary-foreground: 14 14% 12%;
    --secondary: 31 44% 30%;
    --secondary-foreground: 43 100% 94%;
    --muted: 31 44% 20%;
    --muted-foreground: 38 65% 72%;
    --accent: 31 44% 30%;
    --accent-foreground: 43 100% 94%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 43 100% 94%;
    --border: 31 44% 25%;
    --input: 31 44% 25%;
    --ring: 38 65% 72%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

[data-radix-popper-content-wrapper] {
  z-index: 9999 !important;
}

[data-radix-select-content],
.SelectContent {
  background-color: white !important;
  opacity: 1 !important;
  border: 1px solid #fbddd3 !important;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1) !important;
  border-radius: 0.75rem;
}